 @font-face {
	  font-family: "iconvault";
	  src: url("iconvault_forecastfont.eot");
	  src: url("iconvault_forecastfont.eot?#iefix") format("embedded-opentype"),
	       url("iconvault_forecastfont.woff") format("woff"),
	       url("iconvault_forecastfont.ttf") format("truetype"),
	       url("iconvault_forecastfont.svg#iconvault") format("svg");
	  font-weight: normal;
	  font-style: normal;
	}



* {box-sizing: border-box;}

#backg {
    width: 100%;
    display: inline-block;
    height: 100vh;
}

body {
  background: black;
  color: beige;
}
.container {
    display: flex;
    flex-wrap: wrap;
  text-align: center;
  position: fixed;
  min-height: 200px;
  max-height: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 3em 5em 10em 5em;
  border-radius: 10px;
  background-color: rgb(8, 11, 0);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}
.cityntemp {
    width: 100%;
}

.temp {
  top: 38px;
  left: 72px;
  min-height: 28px;
  font-size: 4.25em;
  font-weight: 700;
  line-height: 1.38;
  color: beige;
}
.city {
  font-size: 3em;
  text-transform: uppercase;
  color: red;
}

.climate_box {
  justify-content: flex-end;
  min-height: inherit;
    width: 50%;
  border-bottom-left-radius: 10px;
  
  background-color: palegoldenrod;
}

.weathericon {
  height: auto;
  overflow: hidden;
}

.info_box {
  position: relative;
  width: 50%;
  border-bottom-right-radius: 10px;
  background-color: oldlace;
    padding: .5em;
}
.dropicon {
  width: 20%;
  overflow: hidden;
}
.humidity {
    text-align: center;
  width: 30%;
  font-size: 2em;
  color: firebrick;
  margin: auto;
}

.windicon {
  width: 20%;
  height: auto;
  overflow: hidden;
}

.windspeed {
  width: 30%;
  font-size: 2em;
  margin: auto;
  color: firebrick;
}






/********************
MEDIA QUERIES
*******************/




/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
    
}

/* Tablet:  768px = 160em */
@media (max-width:80em) and (min-width: 48em)  {

  /* Diagnostic Styling. */
  
}

/* Mobile: 320px = 20em */
@media screen and (max-width: 48em) { 

  /* Diagnostic Styling. */
  
  
}